@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #f59e0b;
}

body {
  background-color: #fafafa;
  color: var(--foreground);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}


.bg-glow {
  background: radial-gradient(circle at 50% -20%, rgba(245, 158, 11, 0.05) 0%, rgba(255, 255, 255, 0) 50%);
}

.chat-shadow {
  box-shadow: 0 0 0 1px rgba(0,0,0,.03), 0 2px 4px rgba(0,0,0,.05), 0 12px 24px rgba(0,0,0,.05);
}